<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="display-4 text-center">
                <img src="./img/levi.jpg" alt="Levi" class="img-thumbnail rounded-circle" width="200px">
                <h1>Fadli Rizaldy</h1>
                <p class="lead">Data Scientist | Web Developer</p>
            </div>
        </div>
    </div>
</div>
